@{
    ViewBag.Title = "Acerca de";
}

<div style="background-image:url(../../Content/IMG/network-4901588_1280.jpg); background-size: 100%; position:absolute;  overflow-x: hidden;">
    <div class="m-5 col-12 text-white" style="text-shadow: 0 2px 3px rgba(0,0,0,.8)">
        <h2>ACERCA DE</h2>
        <h4>Conozcamos más sobre esta aplicación</h4>
    </div>
    <div class="m-5 col-10 text-white" align="justify">
        <p style="font-size:large; text-shadow: 0 2px 3px rgba(0,0,0,.8)">
            "AgendApp" (nombre sujeto a cambiar) es una aplicación Web que tiene como proposito
            facilitar la gestión y administración de eventos. Podrás recordar con mayor facilidad
            los próximos eventos, así como las ciudades donde se llevarán a cabo. Sean conciertos,
            actividades recreativas, familares o escolares, en esta aplicación podrás administrar
            distintos tipos de eventos.
        </p>
    </div>
    <div class="row m-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/IMG/workshop-1746275_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">REGISTRA</h5>
                    <p class="card-text" align="justify">Añada una amplia cantidad de eventos junto con su correspondiente descripción, de una manera rápida y sencilla.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/IMG/eye-3795205_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">CONSULTA</h5>
                    <p class="card-text" align="justify">Revisa los diferentes eventos y ciudades que hayas registrado, en una interfaz basica, intuitiva y llamativa.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/Content/IMG/music-1004248_1280.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">EDITA</h5>
                    <p class="card-text" align="justify">¿Evento pospuesto? No hay problema, pues podrás editar los datos registrados en cualquier momento.</p>
                </div>
            </div>
        </div>
    </div>
</div>
